.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  text-align: center;
  margin-top: 20px;
}

input {
  padding: 8px;
  margin-right: 10px;
}

button {
  padding: 8px;
  cursor: pointer;
}

.robot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.robot-list img {
  margin: 10px;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.error {
  color: red;
  margin-top: 10px;
}
